.one{
    background: url(../img/one.jpg) no-repeat;
    width: 7.5rem;
    height: 11.74rem;
    position: relative;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
}
.one .inner{
    width: 4.96rem;
   height: 100%;
    margin: 0 auto;
    position:relative;
    padding-top: .26rem;
}
.one .inner .logo{
    background: url(../img/one_logo.png) no-repeat;
    background-size: 100%;
    width: 3.09rem;
    height: .91rem;
    margin: 0 auto;
}
.one .inner .box{
    background:url(../img/one_box.png) no-repeat;
    background-size: 100%;
    width: 3.06rem;
    height: 6.06rem;
    margin: 0.85rem auto;
}
.one .inner .input{
    background: url(../img/one_input.png) no-repeat;
    background-size: 100%;
    width: .97rem;
    height: 1.01rem;
    margin: -1.1rem auto;
    animation: input  linear 2s infinite;
    
}
@keyframes input{
    0%{
        transform: rotate(90deg);
    }
    33%{
        transform: rotate(180deg);
    }
    66%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.one .inner .input a{
    display: block;
    width: 100%;
    height: 100%;
}
.one .inner .yuyue{
    background: url(../img/one_yuyue.png) no-repeat;
    background-size: 100%;
    width: 6.55rem;
    height: .97rem;
    margin: 1.68rem -.7rem;
}
.one .inner .yuyue a{
    display: block;
    width: 100%;
    height: 100%;
}
.two{
    background: url(../img/two.jpg) no-repeat;
    width: 7.5rem;
    height: 15.2rem;
    position: relative;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
}
.two .inner{
    width: 4.96rem;
    height: 100%;
     margin: 0 auto;
     position:relative;
}
.two .inner .logo{
    background: url(../img/two_logo.png) no-repeat;
    background-size: 100%;
    width: 3.65rem;
    height: 2.52rem;
    margin: 0 auto;
} 
.two .inner .list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 8rem;
    margin: .2rem -1.4rem auto;
}
.two .inner .list li{
    margin-right: .2rem;
    border: 1px dotted #ccc;
    background: url(../img/two_link.png) no-repeat;
    width: 1.94rem;
    height: 6.29rem;
    background-size: 100%;
    margin-bottom: .2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.two .inner .list li::after{
    display: none;
    content: "";
    width: 0.62rem;
    height: 0.66rem;
    background: url(../img/dacheng.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0.6rem;
    right: -0.24rem;
}
.two .inner .list li:hover::after{
    display: block;
}
.two .inner .list li p:nth-child(1){
    font-size: .8rem;
    color: white;
    margin:.25rem .17rem auto;
}

.two .inner .list li span{
    font-size: .35rem;
    color: white;
}

.two .inner .list .bg
{
    background: url(../img/two_bg.png) no-repeat;
    width: 1.47rem;
    height: .96rem;
    background-size: 100%;
    margin-top: .32rem;
    margin-left: .2rem;
}
.two .inner .list :hover .bg{
    background: url(../img/two_bg1.png) no-repeat;
    background-size: 100%;
    
}
.two .inner .list li  .pic{
    background: url(../img/two_gold1.png) no-repeat;
    width: .79rem; 
    height: .66rem; 
    background-size: 100%;
    position:absolute;
    margin-top: .2rem;
    margin-left: .3rem;
}
.two .inner .list :hover .pic{
    background: url(../img/two_gold.png) no-repeat;
    background-size: 100%;
} 

.two .inner .list li p:nth-child(2){
    font-size: .25rem;
    color: rgba(255, 255, 255, .5);
    margin: -.2rem .23rem auto;
}
.two .inner .list li p:nth-child(3){
    font-size: .05rem;
    margin: 0 .23rem auto;
    color: rgba(255, 255, 255, .8);
    overflow: hidden;
}
.two .inner .list .bg .text{
    font-size: .05rem;
    text-align: center;
    position: absolute;
   margin: .95rem .1rem auto;
}


.two .inner .list li:hover{
    background: url(../img/two_link2.png) no-repeat;
    width: 1.94rem;
    height: 6.29rem;
    background-size: 100%;
}


.three{
    background: url(../img/three.jpg) no-repeat;
    width: 7.5rem;
    height: 15.23rem;
    position: relative;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
}
.three .inner{
    width: 4.96rem;
    height: 100%;
     margin: 0 auto;
     position:relative;
     padding-top: 0.83rem;
}
.three .inner .yuyue{
    background: url(../img/two_yuyue.png) no-repeat;
    width: 4.67rem;
    height: .85rem;
    background-size: 100%;
}
.three .inner .jiesao{
    background: url(../img/three_jiesao.png) no-repeat;
    width: 3.05rem;
    height: 2.52rem;
    background-size: 100%;
    margin: 0 auto;
}
.three .inner .wawa{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: .2rem;
}
.three .inner .wawa li{
    background: url(../img/three_wawa.png) no-repeat;
    width: 1.43rem;
    height: 1.43rem;
    background-size: 100%;
}
.three .inner .wawa img{
    width: 1.21rem;
    height: 1.21rem;
    background-size: 100%;
    margin-top: .1rem;
    margin-left: .12rem;
}
.three .inner .wawa li::after{
    background: url(../img/three_K.png) no-repeat;
    display: block;
    content: "";
    width: .17rem;
    height: .17rem;
    background-size: 100%;
    margin-top: -.7rem;
    margin-left: 1.5rem;
}
.three .inner .wawa li:last-child::after{
    display: none   ;
}
.three .inner .left{
    background: url(../img/three_left.png) no-repeat;
    width: .68rem;
    height: .7rem;
    background-size: 100%;
    margin-top: -1rem;
    margin-left: -.8rem;
    cursor: pointer;
}
.three .inner .right{
    background: url(../img/three_right.png) no-repeat;
    width: .68rem;
    height: .7rem;
    background-size: 100%;
    margin-top: -.7rem;
    margin-left: 5.1rem;
    cursor: pointer;
}
.three .inner .sanjiao{
    background: url(../img/three_sanjiao.png) no-repeat;
    width: .12rem;
    height: .1rem;
    background-size: 100%;
    position: absolute;
    top: 5.75rem;
    left: -.5rem;
}
.three .inner .sanjiao p{
    color: rgb(192, 194, 197);
    margin-top: .2rem;
    /* word-wrap: break-word; */
    transform:rotate(90deg);
}
/* (自动换行并且字母歪着)transform:rotate(90deg);

-ms-transform:rotate(90deg); /* IE 9  
word-wrap: break-word英文自动换行 */

.three .inner .wm{
    background: url(../img/three_box.png) no-repeat;
    background-size: 100%;
    width: 7.5rem;
    height: 8.02rem;
    margin: .4rem -1.3rem auto;
}

.three .inner .cv{
    background: url(../img/three_CV.png) no-repeat;
    background-size: 100%;
    width: 1.16rem;
    height: 4.46rem;
    margin-top: -8rem;
    margin-left: 4.7rem;
}
.three .inner .link{
    background: url(../img/three_link.png) no-repeat;
    background-size: 100%;
    width: .9rem;
    height: .9rem;
    margin-top: 2.2rem;
    margin-left: -.7rem;
}
.three .inner .link:hover{
    background: url(../img/three_link3.png) no-repeat;
    background-size: 100%;
    width: .9rem;
    height: .9rem;
    cursor: pointer;
}
.three .inner .link1{
    background: url(../img/three_link2.png) no-repeat;
    background-size: 100%;
    width: .9rem;
    height: .9rem;
   margin-top: -.83rem;
    margin-left: 4.7rem;
}
.three .inner .link1:hover{
    background: url(../img/three_link1.png) no-repeat;
    background-size: 100%;
    width: .9rem;
    height: .9rem;
    cursor: pointer;
}
.three .inner .name{
    background: url(../img/three_name.png) no-repeat;
    background-size: 100%;
    width: 2.87rem;
    height: 1.87rem;
    margin-top: .62rem;
    margin-left: -.65rem;
    position: relative;
    z-index: 2;
}
.three .inner .name p{
    color: #606060;
    font-size: .5rem;
    padding-top: .2rem;
    text-align: center;
}
.three .inner .end{
    width: 4rem;
    height: 1.27rem;
    margin-top: -2rem;
    margin-left: 2.7rem;
}
.three .inner .end p:nth-child(1){
    color: #d79365;
    font-size: .1rem;
}
.three .inner .end p:nth-child(2){
    color: #99a8c1;
    font-size: .3rem;
}
.three .inner .end p:nth-child(3),
.three .inner .end p:nth-child(4),
.three .inner .end p:nth-child(5),
.three .inner .end p:nth-child(6){
    color: #626262;
    font-size: .2rem;
    display: inline-block;
    width: 1.45rem;
}
.three .inner .end span
{
    display: inline-block; 
    width:.1rem;
    height: .1rem; 
    vertical-align: middle;
    border-radius: 70%;
    background: #626262;
    margin-right: .1rem;
}

.four{
    background: url(../img/four.jpg) no-repeat;
    width: 7.5rem;
    height: 11.52rem;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
}

.four .inner{
    width: 4.96rem;
    height: 100%;
    margin-top: .5rem;
    margin-left: 1.3rem;
    position:absolute;
}
.four .inner .top{
    background: url(../img/four_top.png) no-repeat;
    width: 3.05rem;
    height: 1.54rem;
    background-size: 100%;
    margin: 0 auto;
}
.four .inner .center{
    background: url(../img/four_center.png) no-repeat;
    background-size: 100%;
    width: 4.96rem;
    height: 9.26rem;
    top: .4rem;
    position: relative;
    z-index: 2;
}
.four .inner .left{
    background: url(../img/four_left.png) no-repeat;
    width: 1.8rem;
    height: 5.8rem;
    background-size: 100%;
    margin-top: -7rem;
    margin-left: -1.3rem;
    transition: all 1s ease;
    cursor: pointer;
}
.four .inner .left:hover{
    transform: translate(.2rem,0) scale(1.2);
    position:relative;
    z-index: 3;

}
/* filter: opacity(70%); 设置清晰度 */
.four .inner .right{
    background: url(../img/four_right.png) no-repeat;
    width: 1.8rem;
    height: 5.8rem;
    background-size: 100%;
    margin-top: -5.8rem;
    margin-left:4.4rem;
    filter: opacity(70%);
    transition: all 1s ease;
    cursor: pointer;
}
.four .inner .right:hover{
    transform: translate(-2.2rem,0) scale(1.65);
    position:relative;
    z-index: 3;
}
.four .inner .top_left{
    background: url(../img/three_link.png) no-repeat;
    background-size: 100%;
    width: .9rem;
    height: .9rem;
    margin-top: -7.2rem;
    margin-left: -1.15rem;
}
.four .inner .top_left:hover{
    background: url(../img/three_link3.png) no-repeat;
    background-size: 100%;
    width: .9rem;
    height: .9rem;
    cursor: pointer;
}
.four .inner .top_right{
    background: url(../img/three_link2.png) no-repeat;
    background-size: 100%;
    width: .9rem;
    height: .9rem;
   margin-top: -.83rem;
    margin-left: 5.2rem;
}
.four .inner .top_right:hover{
    background: url(../img/three_link1.png) no-repeat;
    background-size: 100%;
    width: .9rem;
    height: .9rem;
    cursor: pointer;
}

.four .inner .link{
   margin-left: .84rem;
    margin-top: 7.9rem;
    position: relative;
    z-index: 2;
}
.four .inner .link li{
    background: url(../img/four_link.png) no-repeat;
    width: .23rem;
    height: .23rem;
    background-size: 100%;
    display: inline-block;
    cursor: pointer;
}
.four .inner .link p{
    display: inline-block;
    text-align: top;
    width: .5rem;
    height: .01rem;
    border-top: 1px solid #8295b3;
    padding-top: .09rem;
}
.four .inner .link li:hover{
    background: url(../img/four_link1.png) no-repeat;
    width: .23rem;
    height: .23rem;
    background-size: 100%;
    
}

.five{
    background-color: white;
    width: 7.5rem;
    height: 4rem;
    position: relative;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
} 
.five .inner{
    height: 100%;
    position: absolute;
   margin-top: .8rem;
   margin-left: .65rem;
}
.five .inner .logo{
    background: url(../img/five.png) no-repeat;
    background-size: 100%;
    width: 1.56rem;
    height: .84rem;
    margin: 0 auto;
}
.five .inner p{
    font-size: .1rem;
    text-align: center;
    line-height: .3rem;
    color: #8f8f8f;
}
.five .inner .last{
    color: rgba(184, 184, 184, .8);
}