.w1{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background: red;
}

.inner{
  font-size: 30px;
}

.inner .head{
  width: 100%;
  height: 8.27rem;
  margin: 0 auto;
  background: url(../img/bg01.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.inner .head .top{
  background:url(../img/sprite.png) no-repeat;
  background-position:0 -4.08rem;
  background-size: 7.5rem 5rem;
  width: 1.97rem;
  height:.68rem;
  position: absolute;
  top: .15rem;
  right: .15rem;
  font-size: 0;
}
.inner .head .top1{
  background:url(../img/p1_slogan.png) no-repeat;
  background-position: center;
  background-size: 5.33rem 4.57rem;
  height:5.2rem;
  width: 8.23rem;
  position: absolute;
  top: 3rem;
  right:0px;
  left:0px;
  margin: 0 auto;
}
.inner .head .top1 .area{
  position: relative;
  width: 100%;
  height: 100%;
}
.inner .head .top1 .area a{
    position: absolute;
    bottom: 1.3rem;
    left:0;
    right:0;
    margin: 0 auto;
    display: block;
    width: 50%;
    height: 0.7rem;
    font-size: 0;
}

.inner .head .top a{
  display: block;
  height: 100%;
}

.inner .head .top span{
  color: red;
  font-size: 0;
}
.inner .head .top1 span{
  color: red;
  font-size:0  ;
}

.two{
  width: 100%;
  height: 9.18rem;
  margin: 0 auto;
  background: url(../img/bg02.jpg) no-repeat;
  background-position: center ;
  background-size: cover;
  position: relative;
  
  }


.top2 {
  display: block;
  font-size: .25rem;
  text-align: center;
  color: white;
  padding-top: .3rem;
}
.top3 {
 background: url(../img/sprite.png) no-repeat;
 background-position:0 -.2rem;
 background-size: 7.5rem 5rem;
 width: 6.48rem;
 height: .64rem;
 position: absolute;
 right: 0;
 top: 1rem;
 left: 0;
 margin: 0 auto;
}
.top3 a{
  display: block;
  height: 100%;
  font-size: 0;
}

.top4 {
  background:url(../img/sprite.png) no-repeat;
  background-position:-.54rem -.8rem;
  background-size: 7.5rem 5rem;
  width: 5.2rem;
  height: .55rem;
  position: absolute;
  right:0;
  top:2rem;
  left: 0;
  margin: 0 auto;
  
}
.top4 a{
  display: block;
  height: 100%;
  font-size: 0;
}

.top2 {
  display: block;
  font-size: .25rem;
  text-align: center;
  color: white;
  padding-top: .3rem;
}


.num{
  display: block;
  text-align: center;
  font-size: .1rem;
  margin-top: 2.2rem;
  position: relative;
}

.num p{
  display: inline-block;
}
.num1{
  color:#f7d974;
}
.num2{
  color: #ff9000; 
}
 .num:after{
  display: block;
  content: "";
  background: url(../img/sprite.png) no-repeat;
  background-position: -2.3rem -1.81rem ;
  background-size: 7.5rem 5rem;
  width: 2.29rem;
  height: .15rem;
  position: absolute;
  right: 0;
  left: 0.5rem;
  top: 0.35rem;
  margin: 0 auto;
}

/* 进度条 */
.top5{
  position: relative;
  margin: 0 auto;
}

.progress{
  width: 6.87rem;
  height: .49rem;
  background: url(../img/line.png) no-repeat ;
  top: 1rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  position: relative;
}
.progress .bar{
  width:2.58rem;
  height: 1.04rem;
  background: url(../img/bg_progress_bar_on.png) repeat-x;
  position: absolute;
  top: -.4rem;
 
  
}
.progress .icon{
  width:100%;
  height:100%;
  position: relative;
}
.progress .pointer{
  background: url(../img/sprite.png) no-repeat center bottom;
  background-position:-7.35rem -.68rem;
  background-size: 7.5rem 5rem;
  width:.16rem ;
  height:.28rem ;
  position:absolute;
  top:.2rem;
  display: block;
}
.progress .pointer1{
  width:.16rem ;
  height:.28rem ;
  background: url(../img/sprite.png) no-repeat center bottom;
  background-position:-7.35rem -.34rem;
  background-size: 7.5rem 5rem;
  position:absolute;
  top:.2rem;
  display: block;
}
.ziti{
  font-size: .1rem;
  display: block;
  padding-top: 1rem;
  text-align: center;
  margin: 0 auto;
}
.zero{
  font-size: 0;
}
.progress .pointer:first-child{
  left:.8rem;
}
.progress .pointer:nth-child(2){
  left:2.3rem;
}
.progress .pointer1:nth-child(3){
  left:3.9rem;
}
.progress .pointer1:nth-child(4){
  right:1rem;
}








/* 猫咪 */
.reward{
  width: 90%;
  margin: 0 auto;
  margin-top: .1rem;
}
.reward li{
  background: url("../img/p2_box.png") no-repeat ;
  height: 1.6rem;
  width: 1.44rem;
  background-size: 100%;
  float: left;
  margin: 0 .1rem;
  
}
.reward .img p{
  height: 1.2rem;
  text-align: center;
  margin-top: .1rem;
  margin-right: .08rem;
  margin-left: .05rem;
  overflow: hidden;
}
.reward .img p img{
  max-width:100%;
  
}
.reward .img span{
  line-height: .3rem;
  font-size: .18rem;
  color: red;
  display: block;
  font-size: .18rem;
  text-align: center;
}




.link_me{
  background: url(../img/sprite.png) no-repeat;
  background-position: -2.44rem -3.52rem ;
  background-size: 7.5rem 5rem;
  width: 4.24rem;
  height: 2.13rem;
  position: absolute;
  right:0;
  top:7rem;
  left: 0;
  margin: 0 auto;
}

.link_me a{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}


.footer {
  width: 100%;
  height: 7.48rem;
  font-size: 15px;
  background-color: black;
  color: #737273;
  overflow: hidden;
  line-height: 1.3;
  text-align: center;
}
.footer .guanzhu{
  text-align:center;
  width:100%;
  height: .1rem;
  position: absolute;
  
}
.footer .guanzhu a{
  color: yellow;
  display: block;
  height: 100%;
  font-size: .25rem;
}

.logo {
  margin-top: .25rem;
}
.logo p{
  display: inline-block;
}
.logo  a{
  font-size: 0;
}

.logo .pic{
  background: url(../img/sprite.png) no-repeat;
  background-position: 0 -2.1rem;
  background-size: 7.5rem 5rem;
  width: .7rem;
  height: .7rem;

}

.logo .pic1{
  background: url(../img/sprite.png) no-repeat;
  background-position: -.76rem -2.1rem;
  background-size: 7.5rem 5rem;
  width: .7rem;
  height: .7rem;
  margin-right: .3rem;
}

.link{
  margin-top: .4rem;
}
.link p{
  display: inline-block;
  margin-right: .2rem;
  font-size: .2rem;
}
.link a{
  color: rgba(255, 255, 255, .5);
}
.link span{
  display: inline-block;
  
}



.icon1{
  background: url(../img/sprite.png) no-repeat;
  background-position: -6.89rem  0 ;
  background-size: 7.5rem 5rem;
  width: .2rem;
  height: .24rem;
 vertical-align: middle;
 /* vertical-align: 对齐方式 vertical-align: middle、top、bottom(这些具体的属性值)，
 也可以是具体的数字（可为负数），如：vertical-align: -2px */
}
.icon2{
  background: url(../img/sprite.png) no-repeat;
  background-position: -7.1rem 0 ;
  background-size: 7.5rem 5rem;
  width: .2rem;
  height: .24rem;
  vertical-align: middle;
}
.icon3{
  background: url(../img/sprite.png) no-repeat;
  background-position: -7.3rem 0 ;
  background-size: 7.5rem 5rem;
  width: .2rem;
  height: .24rem;
  vertical-align: middle;
}

.other{
  margin-top: .1rem;
}
.other p{
  display: inline-block;
}

.other a{
  font-size:0 ;
}
.other .bird{
  background: url(../img/sprite.png) no-repeat;
  background-size: 7.5rem 5rem;
  background-position: 0 -3rem;
  width: .91rem;
  height: .4rem;
  margin-right: .55rem;
}
.other .geae{
  background: url(../img/sprite.png) no-repeat;
  background-size: 7.5rem 5rem;
  background-position: 0 -3.52rem;
  width: .89rem;
  height: .4rem;
}

.copyright {
  display: block;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  padding-top: .2rem;
  font-size: .1rem;
  color:rgba(255, 255, 255, .3);
}
.copyright a{
  color: rgba(255, 255, 255, .3);
}


