.w1{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background: red;
}

.inner{
  font-size: 30px;
}

.inner .head{
  width: 100%;
  height: 1082px;
  margin: 0 auto;
  background: url(../img/bg1.png) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.inner .head .top{
  background:url(../img/p1.home.png) no-repeat;
  background-position: center;
  width:436px;
  height: 166px;
  position: absolute;
  top: 60px;
  right:45px;
}


.inner .head .top1{
  background:url(../img/p1_slogan.png) no-repeat;
  background-position: center;
  height:659px;
  width: 823px;
  position: absolute;
  top: 380px;
  right:0px;
  left:0px;
  margin: 0 auto;
}
.inner .head .top1 .area{
  position: relative;
  width: 100%;
  height: 100%;
}
.inner .head .top1 .area a{
    position: absolute;
    bottom: 120px;
    left:0;
    right:0;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100px;
    font-size: 0;
}

.inner .head .top a{
  display: block;
  height: 100%;
}

.inner .head .top span{
  color: red;
  font-size: 0;
}
.inner .head .top1 span{
  color: red;
  font-size:0  ;
}

.two{
  width: 100%;
  height: 1082px;
  margin: 0 auto;
  background: url(../img/bg02.jpg) no-repeat;
  background-position: center ;
  background-size: cover;
  position: relative;
  
  }


.top2 {
  display: block;
  font-size: 25px;
  text-align: center;
  color: white;
  padding-top: 30px;
}
.top3 {
  display: block;
  font-size: 45px;
  text-align: center;
  margin-top: 30px;
}
.top3 a{
  color: yellow;
}
.top4 {
  background:url(../img/p2_text.png) no-repeat;
  background-position: center;
  height: 62px;
  width: 568px;
  margin: 0 auto;
  margin-top: 30px;
  
}
.top4 a{
  display: block;
  height: 100%;
  font-size: 0;
}



.num{
  width:229px;
  height: 70px;
  background: url(../img/p2_line.png) no-repeat;
  text-align: center;
  background-position: center center;
  margin:20px auto 100px;
  margin-top: 30px;
}

.top5{
  position: relative;
  margin: 0 auto;
}

.top6 {
  background:url(../img/p2_btn.png) no-repeat;
  background-position: center;
  width: 424px;
  height:213px;
  position: absolute;
  top:640px;
  left:0px;
  right:0;
  margin: 0 auto;
  font-size: 0;
}
.zero{
  font-size: 0;
}

.reward, .reward2{
  width: 1100px;
  margin: 0 auto;
}
.reward .img1{
  display: inline-block;
  height: 288px;
  width: 206px;
  position: relative;
  background: url("../img/p2_box.png") no-repeat ;
  text-align: center;
  margin:0 25px;
}
/* .reward .img1:first-child{
  background: red;
}
.reward .img1:last-child{
  margin-right: 0;
}
.reward .img1:nth-child(2n){
  background: yellow;
} */

.reward .img1 span, .reward2 .img1 span{
  color: red;
  text-align: center;
  /* display: block;
  margin-top: 10px; */
  line-height: 40px;
}
.reward .img1 p, .reward2 .img1 p{
  width:170px;
  height: 170px;;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px; 
  /* margin-bottom: 10px; */
}
.reward .img1 p img, .reward2 .img1 p img{
  width:100%;
  height: 100%;
}

.reward2 .img1{
  height: 288px;
  width: 206px;
  position: relative;
  background: url("../img/p2_box.png") no-repeat ;
  text-align: center;
  float: left;
  margin: 0 25px;
}


.img2{
  height: 288px;
  width: 206px;
  position: relative;
  background: url("../img/p2_box.png") no-repeat ;
  position: absolute;
  margin-top: 10px;
  
}
.img2 p{
  position: absolute;
  left: 90px;
  top: 187px;
  color: red;
}
.img2 span{
  position: absolute;
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  
}


.top6 .area2{
  position: relative;
  width: 100%;
  height: 100%;
}
.top6 .area2 a{
    position: absolute;
    bottom: 90px; 
    left:0;
    right:0;
    margin: 0 auto;
    display: block;
    width: 273px;
    height: 57px;
    font-size: 0;
}
/* 此处的bottom自我理解为选取的范围对应图片的距离 width height用于调试超链接的选取框范围大小 */




.footer {
  width: 100%;
  font-size: 15px;
  background-color: black;
  color: #737273;
  overflow: hidden;
  line-height: 1.3;
  text-align: center;
}
.footer .guanzhu{
  text-align:center;
  width:100%;
  height: 10px;
  position: absolute;
  
}
.footer .guanzhu a{
  color: yellow;
  display: block;
  height: 100%;
  font-size: 25px;
}


.footer a {
  color: #737273;
}

.footer a:hover {
  color: #d9d8cb;
  text-decoration: underline;
}

.copyright {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  letter-spacing: .5px;
  padding: 10px 0;
}

.copyright .gaea-logo {
  float: left;
}

.copyright .gaea {
  float: left;
  margin: 18px 22px 0 32px;
}

.copyright .copyright-w {
  float: none;
  padding-left: 22px;
  overflow: hidden;
}
.gray{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  _filter: none;
}


.logo{
  margin-top: 50px;
  text-align: center;
}
.logo  a{
  font-size: 10px;
}
.logo  a img{
  display: inline-block;
}
.logo  a .pic2{
  margin-right: 60px;
}

.other{
  margin-top: 50px;
  text-align: center;
}
.other  a{
  font-size: 10px;
}
.other img{
  display: inline-block;
}
.other .pic1{
  margin-right: 100px;
}

.link{
  text-align: center;
}
.link p{
  display: inline-block;
  color: #fff;
  margin-right: 50px;
  margin-top: 60px;
  margin-bottom: 10px;
}
.link p .icon1{
  width: 20px;
  height: 22px;
  display: inline-block;
  background:url(../img/icon_footer.png) no-repeat;
  background-position: 0 0;
}

.link p .icon2{
  width: 20px;
  height: 22px;
  display: inline-block;
  background:url(../img/icon_footer.png) no-repeat;
  background-position: -20px 0;
}

.link p .icon3{
  width: 20px;
  height: 22px;
  display: inline-block;
  background:url(../img/icon_footer.png) no-repeat;
  background-position: 0px 0;
}
.link p span{
  margin-right: 10px;
}

/* 进度条 */
.progress{
  width: 1033px;
  height: 26px;
  background: url(../img/bg_progress_bar.png) no-repeat center bottom;
  position: relative;
}
.progress .bar{
  width:258px;
  height: 104px;
  background: url(../img/bg_progress_bar_on.png) repeat-x;
  position: absolute;
  top: -75px;
}
.progress .icon{
  width:100%;
  height:100%;
  position: relative;
}
.progress .pointer{
  width: 16px;
  height: 28px;
  background: url(../img/progress_pointer_on.png) no-repeat center bottom;
  position:absolute;
  top:-2px;
  display: block;
}
.progress .pointer1{
  width: 16px;
  height: 28px;
  background: url(../img/progress_pointer.png) no-repeat center bottom;
  position:absolute;
  top:-2px;
  display: block;
}
.progress .pointer:nth-child(1){
  left:135px;
}
.progress .pointer:nth-child(2){
  left:385px;
}
.progress .pointer:nth-child(3){
  left:620px;
}
.progress .pointer1:nth-child(4){
  left:864px;
}

.mask{
  position: fixed;
  /* 用于选取整个屏幕的大小 */
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5);
  top:0;
  left:0;
  right:0;
  margin: 0 auto;
}
.cha{

  position: absolute;
  top: 20%;
  left: 1130px;
  
}
.from{
  width: 670px;
  height: 350px;
  background-color: #5d6975;
  margin: 0 auto;
  right: 0;
  left: 0; 
  position: absolute;
  top:20%;
  padding: 30px;
  
}
.kuang{
  width: 643px;
  height: 330px;
  background:rgba(255, 255, 255, .1)
  
}

.kuang1{
  text-align: center;
  padding-top: 15px;
  position: relative;
  margin: 0 auto;
  right: 0;
  left: 0; 
  
}
.kuang1 p{
  display: inline-block;
  margin-right: 10px;
  
}
.right{
  width: 150px;
  height: 46px;
  background-color: #cdceda;
}
.left{
  width: 300px;
  height: 46px;
  background-color: #cdceda;
}
.kuang2{
  text-align: center;
  padding-top: 20px;
  position: relative;
  margin: 0 auto;
  right: 0;
  left: 0; 
  
}
.right1{
  width: 300px;
  height: 46px;
  background-color: #cdceda;
}
.left1{
  width: 150px;
  height: 46px;
  background-color: #cbb48c;
  cursor: pointer
}
.kuang2 p{
  display: inline-block;
  margin-right: 10px;
  
}

.tongyi{
  text-align: center;
  display: block;
  padding-top: 25px;
  
}

.finish{
  width: 300px;
  height: 55px;
  /* background: rgba(255, 255, 255, .5) ; */
  position: relative;
  margin: 20px auto;
  right: 0;
  left: 0; 
  background: rgba(255, 255, 255, .5);
}
.finish p{
  color: white;
  font-size: 25px;
  display: block;
  text-align: center;
  padding-top: 10px;
  cursor: pointer
}

.again{
  display: block;
  text-align: center;
  font-size: 20px;
  color: red;
  padding-top: 15px;
}